<div class="container">
  <h3 class="text-center text-white">Sign in</h3>
    <%= form_for :session, url: "" do |f| %>
      <div class="form-group">
        <%= f.label :email, class: 'label-color' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password, class: 'label-color' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
        <%= f.submit "sign in", class: 'btn btn-color' %>
    <% end %>
    <%= link_to 'sign upはこちら', '#', class: 'label-color' %>
</div>
