<div class="container">
  <h2 class="box5">信用残高</h2>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <div id="container" class="graph"></div>

    <script>
        Highcharts.chart('container', {
        chart: {
            type: 'area',
            spacingBottom: 30
        },
        title: {
            text: ''
        },
        subtitle: {
            floating: true,
            align: 'right',
            verticalAlign: 'bottom',
            y: 15
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 150,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        xAxis: {
            categories: ['<%- @now.ago(8.days) %>', '<%- @now.ago(7.days) %>', '<%= @now.ago(6.days) %>', '<%= @now.ago(5.days) %>', '<%= @now.ago(4.days) %>', '<%= @now.ago(3.days) %>', '<%= @now.ago(2.days) %>', '<%= @now.yesterday %>', '<%= @now %>']
        },
        yAxis: {
            title: {
                text: 'total'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>' +
                    this.x + ': ' + this.y;
            }
        },
        plotOptions: {
            area: {
                fillOpacity: 0.5
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: '残高',
            data: [ 0, 0, 1, 4, 4, 5, 2, 3, 7]
        }]
    });
    </script>

    <h2 class="box5">よく利用するサービス</h2>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <div id="container2" class="graph"></div>
    <script>
      Highcharts.chart('container2', {
      chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
      },
      title: {
      text: ''
      },
      tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.percentage:.1f} %',
          style: {
            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
          }
        }
      }
      },
      series: [{
      name: 'Brands',
      colorByPoint: true,
      data: [{
        name: 'site1',
        y: <%= @site1 %>,
      }, {
        name: 'site2',
        y: <%= @site2 %>
      }, {
        name: 'site3',
        y: <%= @site3 %>
      }, {
        name: 'site4',
        y: <%= @site4 %>
      }, {
        name: 'site5',
        y: <%= @site5 %>
      }]
      }]
      });
    </script>
    <div class="box5"></div>
  </div>
